body { 
  margin-bottom: 0px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 0px;
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  border: 50px;
}

hr {
  border-width: 5px 0px 0px 0px;
  border-style: solid;
  border-color: #ccc;
  margin-top: 0px;
}

.top img {
  width: 100%;
  height:420px;
  position: relative;
  top: 30px;
  bottom: 20px;
  left: 0px;
  right: 0px;
 }

 footer {
   text-align: center;
 }