body { 
  margin-bottom: 0px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 0px;
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  border: 50px;
  
}

.box-text {
 margin-right: 0px;
}

hr {
   border-width: 5px 0px 0px 0px;
   border-style: solid;
   border-color: #ccc;
   margin-top: 0px;
}

.box-img,
.box-text{
  display: inline-block;
  line-height: 1.9em;
}

footer {
  text-align: center;
}