CSS

html, body { 
  margin-bottom: 0px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 0px;
}

body {
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  border: 50px;
}

.header img {
  margin-top: 0px;
}

.top img {
 
 width: 100%;
 height:410px;
 /* max-height: 100%; */
 position: relative;
 top: 30px;
 bottom: 20px;
 left: 0px;
 right: 0px;
 /* margin-left: auto;
 margin-right: auto; */

}

nav{
border-bottom: 5px solid #ccc;
position: relative;
}
nav ul{
position: absolute;
left:10%;
display: table;
margin: 0 auto;
padding: 0;
width: 80%;
text-align: center;
}
nav ul li{
display: table-cell;
min-width: 50px;
}
nav ul li a{
display: block;
width: 100%;
height: 100%;
padding: 10px 0;
text-decoration: none;
color: #aaa;
}
nav ul li.current{
font-weight: bold;
border-top: 5px solid #00B0F0;
}
nav ul li.current a{
color: #00B0F0;
}
nav ul li a:hover{
color: #0089BB;
background-color: #FBFBDD;
}
nav ul li:hover{
border-top: 5px solid #F8E750;
}

p {
  margin-top: 23px;
  margin-bottom: 0px;
}

footer {
  text-align: center;
}